// viewport
$xs: 320px; // smartphone
$sm: 456px; // tablet portrait
$md: 769px; // tablet landscape
$lg: 1025px; // desktop
$xl: 1280px;

// container
$max-container-width: 1140px;

// logo
$logo-height: 22px;

// media queries
$screen-xxs-max: $xs - 1;
$screen-xs-max: $sm - 1;
$screen-sm: $sm;
$screen-sm-max: $md - 1;
$screen-md: $md;
$screen-md-max: $lg - 1;
$screen-lg: $lg;

// font
$gotham: 'Gotham';
$fontAwesome: 'FontAwesome';
$regular: 400;
$medium: 500;
$bold: 600;

//colors
$white: #fff;
$black: #000;
