@import './src/sass/utils';

html{
	display: block;
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 16px;
	background-color: $white;
  font-family: $gotham;
	font-weight: $regular;
	-webkit-font-smoothing: antialiased;
	body{
		display: block;
		position: relative;
		z-index: 0;
		margin: 0;
		padding: 0;
		min-width: 320px;
		background-color: $white;
		-webkit-font-smoothing: antialiased;
		*{
			box-sizing: border-box;
			outline: none;
			-webkit-font-smoothing: antialiased;
			&[tooltip]{
				cursor: pointer;
			}
		}
  }
}
textarea, input, button, select {
	font-family: inherit;
	font-size: inherit;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.container{
	width: 100%;
	max-width: $max-container-width;
	margin: 0 auto;
	padding: 0px 15px;
}
