// Transitions
@mixin transition($property:null, $duration:null) {
	@if $property {
		transition-property: append($property, null, $separator: comma);
	}
	@else {
		transition-property: all;
	}

	@if $duration {
		transition-duration: $duration;
	}
	@else {
		transition-duration: 0.4s;
	}

	transition-timing-function: ease,
}

// Transform
@mixin transform($transformProp) {
	-webkit-transform: $transformProp;
	-moz-transform: $transformProp;
	transform: $transformProp;
}
