@import './src/sass/utils';

@font-face {
	font-family: $gotham;
	src: url("../assets/fonts/Gotham-Book.eot");
  src: url("../assets/fonts/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Gotham-Book.otf") format("open-type"), url("../assets/fonts/Gotham-Book.woff") format("woff");
	// src: url('../assets/fonts/Gotham-Book.otf');
	font-weight: $regular;
	font-style: normal;
}
@font-face {
	font-family: $gotham;
	src: url("../assets/fonts/Gotham-Medium.eot");
  src: url("../assets/fonts/Gotham-Medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Gotham-Medium.otf") format("open-type"), url("../assets/fonts/Gotham-Medium.woff") format("woff");
	font-weight: $medium;
	font-style: normal;
}
@font-face {
	font-family: $gotham;
	src: url("../assets/fonts/Gotham-Bold.eot");
  src: url("../assets/fonts/Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Gotham-Bold.otf") format("open-type"), url("../assets/fonts/Gotham-Bold.woff") format("woff");
	font-weight: $bold;
	font-style: normal;
}
@font-face {
	font-family: $fontAwesome;
	src: url("../assets/fontawesome/web-fonts-with-css/webfonts/fa-regular-400.eot");
  src: url("../assets/fontawesome/web-fonts-with-css/webfonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../assets/fontawesome/web-fonts-with-css/webfonts/fa-regular-400.woff2") format("woff2"), url("../assets/fontawesome/web-fonts-with-css/webfonts/fa-regular-400.woff") format("woff"), url("../assets/fontawesome/web-fonts-with-css/webfonts/fa-regular-400.ttf") format("truetype"), url("../assets/fontawesome/web-fonts-with-css/webfonts/fa-regular-400.svg#fontawesome") format("svg");
	font-weight: $regular;
	font-style: normal;
}
@font-face {
	font-family: $fontAwesome;
  src: url("../assets/fontawesome/web-fonts-with-css/webfonts/fa-brands-400.eot");
  src: url("../assets/fontawesome/web-fonts-with-css/webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../assets/fontawesome/web-fonts-with-css/webfonts/fa-brands-400.woff2") format("woff2"), url("../assets/fontawesome/web-fonts-with-css/webfonts/fa-brands-400.woff") format("woff"), url("../assets/fontawesome/web-fonts-with-css/webfonts/fa-brands-400.ttf") format("truetype"), url("../assets/fontawesome/web-fonts-with-css/webfonts/fa-brands-400.svg#fontawesome") format("svg");
  font-style: normal;
  font-weight: $medium;
}
@font-face {
  font-family: $fontAwesome;
  src: url("../assets/fontawesome/web-fonts-with-css/webfonts/fa-solid-900.eot");
  src: url("../assets/fontawesome/web-fonts-with-css/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../assets/fontawesome/web-fonts-with-css/webfonts/fa-solid-900.woff2") format("woff2"), url("../assets/fontawesome/web-fonts-with-css/webfonts/fa-solid-900.woff") format("woff"), url("../assets/fontawesome/web-fonts-with-css/webfonts/fa-solid-900.ttf") format("truetype"), url("../assets/fontawesome/web-fonts-with-css/webfonts/fa-solid-900.svg#fontawesome") format("svg");
	font-style: normal;
  font-weight: $bold;
}
.far{
	font-family: $fontAwesome;
	font-weight: $regular;
}
.fab{
	font-family: $fontAwesome;
	font-weight: $medium;
}
.fa, .fas{
	font-family: $fontAwesome;
	font-weight: $bold;
}
