section.section-banner
  .banner-wrap#weare
    .banner-image.banner-image-1
    .banner-text
      h3 we 
        br
        |are.
      p Consectetur adipiscing elit.
        br
        |Nulla condimentum tortor sem.
      a(href="") The players
        i(class="fa fa-angle-right" aria-hidden="true")
section.section-banner
  .banner-wrap.reverse#wedo
    .banner-image.banner-image-2
    .banner-text
      h3 we 
        br
        |do.
      p Consectetur adipiscing elit.
        br
        |Nulla condimentum tortor sem.
      a(href="") The projects
        i(class="fa fa-angle-right" aria-hidden="true")
section.section-banner
  .banner-wrap#careers
    .banner-image.banner-image-3
    .banner-text
      h3 careers.
      p Consectetur adipiscing elit.
        br
        |Nulla condimentum tortor sem.
      a(href="") The positions
        i(class="fa fa-angle-right" aria-hidden="true")
