section.section-cards
  .container
    .cards-wrap
      .card.card-1
        .card-title
          h3 Play harder
        .card-body
          p Aenean mollis dolor a mattis viverra. In hac habitasse platea dictumst. Curabitur tempus dui tortor, et bibendum lacus eleifend ut.
        .card-footer
          a(href="#") Read more
      .card.card-2
        .card-title
          h3 Simplicity
        .card-body
          p Donec vitae augue tellus. Proin et urna sit amet metus fermentum dapibus non quis urna.
        .card-footer
          a(href="#") Read more
      .card.card-3
        .card-title
          h3 Innovation
        .card-body
          p Suspendisse vehicula, lectus sed molestie aliquam, arcu neque gravida lacus.
        .card-footer
          a(href="#") Read more
