section.section-contacts#contact
  .container
    .contacts-wrap
      .contacts-info
        h2 contact us.
        p Playground srl
        p Via G. Mazzini 3/C
        p Cernusco Sul Naviglio (Milano)
        p -
        p T 
          a(href="tel:+390240706003") +39 0240706003
      .contacts-form
        form.form-wrapper#contact_form(action="/placeholder" onsubmit="return formValidation()")
          .top-input
            .form-field
              input.form-field-input#nome(name="name" placeholder="name")
            .form-field
              input.form-field-input#last_name(name="last_name" placeholder="last name")
          .form-field
            input.form-field-input#email(name="email" placeholder="email" required)
          .form-field
            textarea.form-field-input#textarea(name="message" placeholder="message" required)
          .button-field
            button.send-button(type="submit" form="contact_form")
              |SEND
              i.fas.fa-angle-right
