section.section-cookie
  .container
    .cookie-wrap
      .cookie-text
        p Our website uses cookies to improve your experience. To find out more about the cookies we use please see our Cookies Policy.
      .cookie-button
        a(href="#") OK
