section.section-footer
  .container
    img.footer-logo(src="./assets/images/playground-footer-logo.png" alt="Playground")
    .footer-nav
      .footer-link
        a(href="#weare") we are
      .footer-link
        a(href="#wedo") we do
      .footer-link
        a(href="#careers") careers
      .footer-link
        a(href="#contact") contact us
    .social-icons
      a.icon(href="")
        i.fab.fa-facebook-square
      a.icon(href="")
        i.fab.fa-linkedin-in
      a.icon(href="")
        i.fab.fa-instagram
