section.navigation-bar
  .container
    a.logo
      img(class="white-logo" src="./assets/images/logo-playground-white.png" alt="Playground")
      img(class="black-logo" src="./assets/images/logo-playground-black.png" alt="Playground")
    .navigation-menu
      a(href="#weare") we are
      a(href="#wedo") we do
      a(href="#careers") careers
      a(href="#contact") contact us
    
