section.saction-tab
  .container
    .tab-wrapper
      .tab(data-tab="1")
        p
      .tab(data-tab="2")
        p
      .tab(data-tab="3")
        p
    .tab-description
      p ibulum at odio sit amet diam consectetur congue. Donec imperdiet tincidunt nisi non dignissim. Maecenas diam metus, fermentum a velit ut, auctor consequat ligula. In ultrices lobortis venenatis. Vestibulum ante ipsum primis in faucibus orci luctus et ultri
      .loader-icon
        img(src="./assets/images/loader.png" alt="loader")
