section.section-visual
  .swiper-container.visual-swiper
    .swiper-wrapper
      .swiper-slide.slide-1
        .text_container
          .text_container-wrap
            h1 lorem ipsum.
            p Consectetur adipiscing elit.
              br
              |Nulla condimentum tortor sem, in semper nisl bibendum eu.
      .swiper-slide.slide-2
        .text_container
          .text_container-wrap
            h1 lorem ipsum.
            p Consectetur adipiscing elit.
              br
              |Nulla condimentum tortor sem, in semper nisl bibendum eu.
      .swiper-slide.slide-3
        .text_container
          .text_container-wrap
            h1 lorem ipsum.
            p Consectetur adipiscing elit.
              br
              |Nulla condimentum tortor sem, in semper nisl bibendum eu.
    .swiper-pagination
    .swiper-button-prev
    .swiper-button-next
