.section-banner{
  .banner-wrap{
    @media screen and(min-width: $screen-md){
      display: flex;
      flex-direction: row;
    }
    .banner-image{
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      flex: 2;
      height: 300px;
      @media screen and(min-width: $screen-md){
        background-position: left;
        height: 400px;
      }
      @media screen and(min-width: $screen-lg){
        height: 600px;
      }
      &-1{
        background-image: url('../assets/images/banner-we-are.jpg');
      }
      &-2{
        background-image: url('../assets/images/banner-we-do.jpg');
      }
      &-3{
        background-image: url('../assets/images/banner-carrers.jpg');
      }
    }
    .banner-text{
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      height: 300px;
      background: $black;
      @media screen and(max-width: $screen-sm-max){
        align-items: center;
      }
      @media screen and(min-width: $screen-md){
        height: 400px;
        padding: 0px 90px;
      }
      @media screen and(min-width: $screen-lg){
        height: 600px;
      }
      h3{
        color: $white;
        font-size: 50px;
        line-height: 1;
        margin: 0;
        opacity: 0;
        @media screen and(min-width: $screen-md){
          font-size: 70px;
        }
        br{
          display: none;
          @media screen and(min-width: $screen-md){
            display: block;
          }
        }
      }
      p{
        color: $white;
        font-size: 14px;
        text-align: center;
        opacity: 0;
        @media screen and(min-width: $screen-md){
          text-align: left;
        }
      }
      a{
        display: inline-block;
        border: 1px solid $white;
        padding: 20px 15px;
        text-align: center;
        margin-top: 10px;
        color: $white;
        max-width: 180px;
        text-decoration: none;
        opacity: 0;
        @include transition();
        @media screen and(min-width: $screen-md){
          margin-top: 40px;
        }
        i{
          margin-left: 10px;
          font-size: 14px;
        }
        &:hover{
          color: $black;
          background: $white;
        }
      }
    }
    &.reverse{
      @media screen and(min-width: $screen-md){
        flex-direction: row-reverse;
      }
      .banner-image{
        @media screen and(min-width: $screen-md){
          background-position: right;
        }
      }
      .banner-text{
        @media screen and(min-width: $screen-md){
          background: $white;
          text-align: right;
        }
        h3{
          @media screen and(min-width: $screen-md){
            color: $black;
          }
        }
        p{
          @media screen and(min-width: $screen-md){
            color: $black;
            text-align: right;
          }
        }
        a{
          @media screen and(min-width: $screen-md){
            border: 1px solid $black;
            color: $black;
            margin-left: auto;
            align-self: flex-end;
          }
          &:hover{
            @media screen and(min-width: $screen-md){
              color: $white;
              background: $black;
            }
          }
        }
      }
    }
  }
}
