.section-cards{
  background: #ebebeb;
  padding: 65px 16px;
  .container{
    .cards-wrap{
      display: flex;
      flex-wrap: wrap;
      margin-left: -16px;
      margin-right: -16px;
      .card{
        width: 100%;
        padding: 15px;
        @media screen and(min-width: $screen-sm){
          width: 50%;
          display: flex;
          flex-direction: column;
        }
        @media screen and(min-width: $screen-md){
          width: 33%;
        }
        .card-title{
          padding: 45px 0px;
          text-align: center;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          h3{
            margin: 0;
            font-size: 16px;
            font-weight: $bold;
            text-transform: uppercase;
            color: $white;
          }
        }
        .card-body{
          background: $white;
          padding: 40px 50px;
          text-align: center;
          @media screen and(min-width: $screen-md){
            height: 100%;
          }
          p{
            margin: 0;
            color: $black;
          }
        }
        .card-footer{
          background: $black;
          a{
            display: block;
            width: 100%;
            padding: 20px 10px;
            color: $white;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
          }
        }
        &-1{
          .card-title{
            background-image: url('../assets/images/card-play-harder.jpg');
          }
        }
        &-2{
          .card-title{
            background-image: url('../assets/images/card-simplicity.jpg');
          }
        }
        &-3{
          .card-title{
            background-image: url('../assets/images/card-innovation.jpg');
          }
        }
      }
    }
  }
}
