.section-contacts{
  background: $black;
  border-bottom: 1px solid rgba($white, .3);
  .container{
    .contacts-wrap{
      display: flex;
      flex-direction: column;
      padding: 50px 0px;
      @media screen and(min-width: $screen-md){
        flex-direction: row;
        padding: 100px 0px;
      }
      .contacts-info{
        flex: 1;
        padding: 20px 15px;
        @media screen and(min-width: $screen-sm){
          padding: 20px 75px;
        }
        @media screen and(min-width: $screen-md){
          padding: 0px 75px;
        }
        h2{
          font-size: 50px;
          color: $white;
          margin: 0 0 15px;
          @media screen and(min-width: $screen-sm){
            font-size: 70px;
          }
          @media screen and(min-width: $screen-md){
            margin: 0 0 35px;
          }
        }
        p{
          font-size: 14px;
          color: $white;
          margin: 5px 0;
          a{
            color: $white;
            text-decoration: none;
          }
        }
      }
      .contacts-form{
        flex: 2;
        padding: 20px 15px;
        @media screen and(min-width: $screen-sm){
          padding: 20px 75px;
        }
        @media screen and(min-width: $screen-md){
          padding:  0 100px 0 0;
        }
        .form-wrapper{
          .top-input{
            display: flex;
            .form-field{
              flex: 1;
              margin: 0 10px;
              &:first-of-type{
                margin-left: 0;
              }
              &:last-of-type{
                margin-right: 0;
              }
            }
          }
          .form-field{
            margin: 15px 0px;
            .form-field-input{
              background: transparent;
              border: 1px solid $white;
              border-radius: 0;
              padding: 15px 10px;
              font-size: 14px;
              color: $white;
              width: 100%;
            }
            .error-text{
              color: #ff7676;
              font-size: 14px;
            }
            ::placeholder {
              color: rgba($white, .3);
              opacity: 1;
            }
            :-ms-input-placeholder {
              color: rgba($white, .3);
            }
            ::-ms-input-placeholder {
              color: rgba($white, .3);
            }
            textarea{
              height: 140px;
              overflow: auto;
            }
          }
          .button-field{
            width: fit-content;
            .send-button{
              border: 0;
              padding: 15px 50px;
              font-weight: $bold;
              background: $white;
              color: $black;
              cursor: pointer;
              i{
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
  }
}
