.section-cookie{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: $white;
  z-index: 3;
  padding: 20px 0;
  @media screen and(min-width: $screen-md){
    padding: 0px;
  }
  .container{
    height: 100%;
    .cookie-wrap{
      display: flex;
      flex-direction: column;
      min-height: 50px;
      width: fit-content;
      margin: 0 auto;
      padding: 9px 0px;
      @media screen and(min-width: $screen-md){
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
      .cookie-text{
        p{
          font-size: 14px;
          margin: 0;
          color: $black;
          text-align: center;
          @media screen and(min-width: $screen-md){
            font-size: 12px;
          }
          @media screen and(min-width: $screen-lg){
            font-size: 14px;
          }
        }
      }
      .cookie-button{
        width: fit-content;
        margin: 10px auto 0;
        @media screen and(min-width: $screen-md){
          margin-top: 0;
          margin-left: 30px;
        }
        a{
          display: block;
          background: $black;
          color: $white;
          font-size: 10px;
          padding: 10px 40px;
          text-decoration: none;
        }
      }
    }
  }
}
