.section-footer{
  background: $black;
  padding: 65px 0px 50px;
  .container{
    text-align: center;
    .footer-logo{

    }
    .footer-nav{
      display: flex;
      justify-content: center;
      padding: 60px 0 50px;
      .footer-link{
        margin: 0px 10px;
        position: relative;
        @media screen and(min-width: $screen-sm){
          margin: 0px 35px;
        }
        &:first-of-type{
          margin-left: 0;
        }
        &:last-of-type{
          margin-right: 0;
        }
        a{
          color: $white;
          font-size: 14px;
          text-decoration: none;
        }
        &:after{
          content: '';
          position: absolute;
          width: 100%;
          height: 1px;
          background: $white;
          opacity: 0;
          bottom: -10px;
          left: 0;
          @include transform(scale(0));
          @include transition();
        }
        &:hover{
          &:after{
            opacity: 1;
            bottom: -6px;
            @include transform(scale(1));
          }
        }
      }
    }
    .social-icons{
      .icon{
        color: rgba($white, .3);
        font-size: 14px;
        margin: 0 10px;
        @include transition();
        &:hover{
          color: $white;
        }
      }
    }
  }
}
