.navigation-bar{
  position: fixed;
  width: 100%;
  z-index: 10;
  padding: 20px 0px;
  @include transition();
  @media screen and(min-width: $screen-sm){
    padding: 40px 30px;
  }
  @media screen and(min-width: $screen-md){
    padding: 40px 20px;
  }
  .container{
    @media screen and(min-width: $screen-sm){
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .logo{
      display: flex;
      position: relative;
      height: $logo-height;
      img{
        position: absolute;
        height: $logo-height;
        left: 0;
        @include transition();
        &.white-logo{
          opacity: 1;
        }
        &.black-logo{
          opacity: 0;
        }
      }
    }
    .navigation-menu{
      margin-top: 20px;
      @media screen and(min-width: $screen-sm){
        margin-top: 0;
      }

      a{
        position: relative;
        font-size: 14px;
        color: $white;
        text-decoration: none;
        margin: 0px 10px;
        @media screen and(min-width: $screen-sm){
          margin: 0px 35px;
        }
        &:first-of-type{
          margin-left: 0;
        }
        &:last-of-type{
          margin-right: 0;
        }
        &:after{
          content: '';
          position: absolute;
          width: 100%;
          height: 1px;
          background: $white;
          opacity: 0;
          bottom: -10px;
          left: 0;
          @include transform(scale(0));
          @include transition();
        }
        &:hover, &.active{
          &:after{
            opacity: 1;
            bottom: -6px;
            @include transform(scale(1));
          }
        }
      }
    }
  }
  &.black-nav{
    background: rgba($white, .9);
    .container{
      .logo{
        img{
          &.white-logo{
            opacity: 0;
          }
          &.black-logo{
            opacity: 1;
          }
        }
      }
      .navigation-menu{
        a{
          color: $black;
          &:after{
            background: $black;
          }
        }
      }
    }
  }
}
