.saction-tab{
  background: #ebebeb;
  padding: 65px 16px;
  .container{
    @media screen and(min-width: $screen-sm){
      display: flex;
    }
    .tab-wrapper{
      display: flex;
      flex-direction: column;
      flex: 1;
      .tab{
        padding: 25px 15px;
        text-align: center;
        background: #cccccc;
        border-top: 1px solid $white;
        cursor: pointer;
        @include transition();
        @media screen and(min-width: $screen-sm){
          text-align: left;
        }
        @media screen and(min-width: $screen-md){
          padding: 25px 75px;
          min-width: 365px;
        }
        &:first-of-type{
          border-top: none;
        }
        p{
          color: $black;
          margin: 0;
          font-size: 14px;
          @media screen and(min-width: $screen-md){
            white-space: nowrap;
          }
          i{
            margin-left: 5px;
            @include transition();
          }
        }
        &.active{
          background: $black;
          p{
            color: $white;
            font-weight: $bold;
            i{
              @include transform(rotate(180deg));
            }
          }
        }
        &:not(.active){
          &:hover{
            background: #a9a9a9;
          }
        }
      }
    }
    .tab-description{
      flex: 2;
      background: $white;
      position: relative;
      padding: 20px 40px;
      min-height: 350px;
      @media screen and(min-width: $screen-sm){
        padding: 30px 50px;
      }
      @media screen and(min-width: $screen-md){
        padding: 50px 100px;
      }
      p{
        font-size: 14px;
        line-height: 1.3;
      }
      .loader-icon{
        background: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        visibility: visible;
        img{
          -webkit-animation: spin 3s linear infinite;
          -moz-animation: spin 3s linear infinite;
          animation: spin 3s linear infinite;
        }
      }
      &.loaded{
        .loader-icon{
          opacity: 0;
          visibility: hidden;
        }
      }
    }
  }
}


@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); transform:rotate(360deg);
  }
}
