@import './src/sass/utils';

.section-visual{
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  .swiper-container{
    height: 100%;
    .swiper-wrapper{
      .swiper-slide{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        &.slide-1{
          background-image: url('../assets/images/slide-hello.jpg');
        }
        &.slide-2{
          background-image: url('../assets/images/slide-circle.jpg');
        }
        &.slide-3{
          background-image: url('../assets/images/slide-play.jpg');
        }

        .text_container{
          display: flex;
          justify-content: center;
          align-items: flex-end;
          height: 100%;
          padding-bottom: 60px;
          @media screen and(min-width: $screen-md){
            align-items: center;
            width: 50%;
            padding-bottom: 0px;
          }

          .text_container-wrap{
            color: $white;
            text-align: center;
            @media screen and(min-width: $screen-md){
              max-width: 230px;
              text-align: left;
            }
            h1{
              font-size: 40px;
              font-weight: $bold;
              margin: 0 0 30px;
              @media screen and(min-width: $screen-md){
                font-size: 70px;
              }
            }
            p{
              font-size: 14px;
              font-weight: $regular;
            }
          }
        }
      }
    }
    .swiper-pagination{
      bottom: 15px;
      &-bullet{
        background: $white;
        margin: 0 6px;
      }
    }
    .swiper-button-prev, .swiper-button-next{
      color: $white;
      &:after{
        font-size: 26px;
      }
    }
    .swiper-button-prev{
      left: 10px;
      @media screen and(min-width: $screen-md){
        left: 60px;
      }
    }
    .swiper-button-next{
      right: 10px;
      @media screen and(min-width: $screen-md){
        right: 60px;
      }
    }
  }
}
