html(lang='en' dir='ltr')
  head 
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    link(href="./assets/images/favicon.ico" rel="icon" data-n-head="true" type="image/x-icon")
    link(rel="stylesheet" href="./css/main.css")
    title Playground - Test
    
  body
    include ./pug/navigation.pug
    include ./pug/visual.pug
    include ./pug/cards.pug
    include ./pug/banner.pug
    include ./pug/tabs.pug
    include ./pug/contacts.pug 
    include ./pug/footer.pug 
    include ./pug/cookie.pug 

    script(src="./js/index.js")
